/*! minireset.css v0.0.3 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 10px;
}
ul,
li {
  list-style: none;
}

button,
input,
select,
textarea {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

img,
embed,
iframe,
object,
audio,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
  text-align: left;
}

$borderColor: #d6d3d3;
$backgroundColor: whitesmoke;
$ItemBackgroundColor: white;
$borderRadius: 5px;

@font-face {
  font-family: iransans;
  font-style: normal;
  font-weight: 300;
  src: url("../assert/fonts/iransans/iransansweb.eot");
  src: url("../assert/fonts/iransans/iransansweb.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-8 */ url("../assert/fonts/iransans/iransansweb.woff") format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url("../assert/fonts/iransans/iransansweb.ttf") format("truetype");
}

body {
  font-family: iransans;
  margin: 0px;
  padding: 0px;
}

.app {
  height: 100vh;
  overflow: auto;
  background-color: $backgroundColor;
}
.fooodItemBox {
  min-height: 100px;
  border: 1px solid $borderColor;
  margin-bottom: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $ItemBackgroundColor;
  border-radius: $borderRadius;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  padding: 10px;
  .imgSection {
    background-color: #eee;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 157px;
    border-radius: 5px;
  }
  .titleSection {
    text-align: right;
    padding: 10px;
    width: 60%;
  }
}

.container {
  width: 60%;
  margin: 0 auto;
}

.img {
  max-width: 100%;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  padding: 10px;
  margin-bottom: 10px;
  > div {
    padding: 7px;
    cursor: pointer;
    border-radius: 29px;
    text-align: center;
    border: 1px solid $borderColor;
    border-radius: $borderRadius;
  }
}

.notFoundSection {
  padding: 15px;
  border: 1px solid $borderColor;
  background-color: $ItemBackgroundColor;
  text-align: right;
}

@media only screen and (max-width: 992px) {
  .fooodItemBox {
    flex-direction: column;
  }
  .titleSection {
    text-align: center;
  }
  .imgSection {
    justify-content: center;
    width: 70%;
  }
}
